<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleIconFile</key>
	<string>@ICON@</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleGetInfoString</key>
	<string>@FULL_VERSION@</string>
	<key>CFBundleShortVersionString</key>
	<string>@FULL_VERSION@</string>
	<key>CFBundleSignature</key>
	<string>@TYPEINFO@</string>
	<key>CFBundleExecutable</key>
	<string>@EXECUTABLE@</string>
	<key>CFBundleIdentifier</key>
	<string>@BUNDLEIDENTIFIER@</string>
	<key>CFBundleDisplayName</key>
	<string>@EXECUTABLE@</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app needs microphone access so it can hear what you&apos;re playing</string>
	<key>CFBundleName</key>
	<string>@EXECUTABLE@</string>
</dict>
</plist>
